dotnet : C:\HolisticFrameworkProject\backend\src\Modules\ClientEngagement\AETP.
Modules.ClientEngagement.Infrastructure\AETP.Modules.ClientEngagement.Infrastru
cture.csproj : warning NU1903: Package 'System.Security.Cryptography.Xml' 
9.0.0 has a known high severity vulnerability, 
https://github.com/advisories/GHSA-37gx-xxp4-5rgx
At line:1 char:1
+ dotnet ef migrations script --no-build --project src/Modules/ClientEn ...
+ ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    + CategoryInfo          : NotSpecified: (C:\HolisticFram...-37gx-xxp4-5rgx 
   :String) [], RemoteException
    + FullyQualifiedErrorId : NativeCommandError
 
C:\HolisticFrameworkProject\backend\src\Modules\ClientEngagement\AETP.Modules.C
lientEngagement.Infrastructure\AETP.Modules.ClientEngagement.Infrastructure.csp
roj : warning NU1903: Package 'System.Security.Cryptography.Xml' 9.0.0 has a 
known high severity vulnerability, 
https://github.com/advisories/GHSA-w3x6-4m5h-cxqf
C:\HolisticFrameworkProject\backend\src\Host\AETP.Api\AETP.Api.csproj : 
warning NU1510: PackageReference Microsoft.Extensions.Logging.Abstractions 
will not be pruned. Consider removing this package from your dependencies, as 
it is likely unnecessary.
C:\HolisticFrameworkProject\backend\src\Host\AETP.Api\AETP.Api.csproj : 
warning NU1510: PackageReference 
Microsoft.Extensions.Configuration.Abstractions will not be pruned. Consider 
removing this package from your dependencies, as it is likely unnecessary.
C:\HolisticFrameworkProject\backend\src\Host\AETP.Api\AETP.Api.csproj : 
warning NU1510: PackageReference 
Microsoft.Extensions.DependencyInjection.Abstractions will not be pruned. 
Consider removing this package from your dependencies, as it is likely 
unnecessary.
C:\HolisticFrameworkProject\backend\src\Host\AETP.Api\AETP.Api.csproj : 
warning NU1903: Package 'Microsoft.OpenApi' 2.0.0 has a known high severity 
vulnerability, https://github.com/advisories/GHSA-v5pm-xwqc-g5wc
[07:25:37 WRN] No store type was specified for the decimal property 'AnnualRevenue' on entity type 'CompanyProfile'. This will cause values to be silently truncated if they do not fit in the default precision and scale. Explicitly specify the SQL server column type that can accommodate all the values in 'OnModelCreating' using 'HasColumnType', specify precision and scale using 'HasPrecision', or configure a value converter using 'HasConversion'.
[07:25:37 WRN] No store type was specified for the decimal property 'ProfitMargin' on entity type 'CompanyProfile'. This will cause values to be silently truncated if they do not fit in the default precision and scale. Explicitly specify the SQL server column type that can accommodate all the values in 'OnModelCreating' using 'HasColumnType', specify precision and scale using 'HasPrecision', or configure a value converter using 'HasConversion'.
[07:25:37 WRN] No store type was specified for the decimal property 'AnnualBudget' on entity type 'Department'. This will cause values to be silently truncated if they do not fit in the default precision and scale. Explicitly specify the SQL server column type that can accommodate all the values in 'OnModelCreating' using 'HasColumnType', specify precision and scale using 'HasPrecision', or configure a value converter using 'HasConversion'.
[07:25:37 WRN] No store type was specified for the decimal property 'Budget' on entity type 'Engagement'. This will cause values to be silently truncated if they do not fit in the default precision and scale. Explicitly specify the SQL server column type that can accommodate all the values in 'OnModelCreating' using 'HasColumnType', specify precision and scale using 'HasPrecision', or configure a value converter using 'HasConversion'.
IF OBJECT_ID(N'[__EFMigrationsHistory]') IS NULL
BEGIN
    CREATE TABLE [__EFMigrationsHistory] (
        [MigrationId] nvarchar(150) NOT NULL,
        [ProductVersion] nvarchar(32) NOT NULL,
        CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY ([MigrationId])
    );
END;
GO

BEGIN TRANSACTION;
DROP INDEX [IX_Locations_CompanyProfileId_City_Country] ON [engagement].[Locations];

DROP INDEX [IX_Departments_CompanyProfileId_Name] ON [engagement].[Departments];

CREATE UNIQUE INDEX [IX_Locations_CompanyProfileId_City_Country] ON [engagement].[Locations] ([CompanyProfileId], [City], [Country]);

CREATE UNIQUE INDEX [IX_Departments_CompanyProfileId_Name] ON [engagement].[Departments] ([CompanyProfileId], [Name]);

INSERT INTO [__EFMigrationsHistory] ([MigrationId], [ProductVersion])
VALUES (N'20260721121436_Fix_UniqueIndexes_Departments_Locations', N'10.0.0');

COMMIT;
GO

BEGIN TRANSACTION;
ALTER TABLE [engagement].[Engagements] ADD [BusinessProblem] nvarchar(1000) NULL;

ALTER TABLE [engagement].[Engagements] ADD [ExecutiveSponsor] nvarchar(256) NULL;

ALTER TABLE [engagement].[Engagements] ADD [ExpectedDecision] nvarchar(1000) NULL;

ALTER TABLE [engagement].[Engagements] ADD [OutOfScope] nvarchar(1000) NULL;

ALTER TABLE [engagement].[Engagements] ADD [Scope] nvarchar(1000) NULL;

ALTER TABLE [engagement].[Engagements] ADD [TargetDecisionDate] datetime2 NULL;

ALTER TABLE [engagement].[Engagements] ADD [TransformationMandate] nvarchar(500) NULL;

INSERT INTO [__EFMigrationsHistory] ([MigrationId], [ProductVersion])
VALUES (N'20260721122136_Add_Engagement_TransformationContext', N'10.0.0');

COMMIT;
GO


